<component name="libraryTable">
  <library name="log4j">
    <CLASSES>
      <root url="jar://$dep-home$/apache-log4j-1.2.16/log4j-1.2.16.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="file://$dep-home$/apache-log4j-1.2.16/src/main/java" />
    </SOURCES>
  </library>
</component>