<component name="libraryTable">
  <library name="spring-security">
    <CLASSES>
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-acl-3.0.5.RELEASE.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-aspects-3.0.5.RELEASE.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-cas-client-3.0.5.RELEASE.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-config-3.0.5.RELEASE.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-core-3.0.5.RELEASE.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-ldap-3.0.5.RELEASE.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-openid-3.0.5.RELEASE.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-web-3.0.5.RELEASE.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-taglibs-3.0.5.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-cas-client-3.0.5.RELEASE-sources.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-aspects-3.0.5.RELEASE-sources.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-core-3.0.5.RELEASE-sources.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-config-3.0.5.RELEASE-sources.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-openid-3.0.5.RELEASE-sources.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-ldap-3.0.5.RELEASE-sources.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-acl-3.0.5.RELEASE-sources.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-taglibs-3.0.5.RELEASE-sources.jar!/" />
      <root url="jar://$dep-home$/spring-security-3.0.5.RELEASE/dist/spring-security-web-3.0.5.RELEASE-sources.jar!/" />
    </SOURCES>
  </library>
</component>